@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
    --azul-principal: #2088dd;
    --branco-fundo: #ffffff;
    --cinza-suave: #FAF4F4;
    --laranja-botao: #CB6D43;
}

body {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--branco-fundo);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--branco-fundo);
    padding: 1rem 0;
}

.nav-link {
    color: var(--azul-principal);
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: var(--laranja-botao);
}

.inicio-fundo {
    background-image: url('/imagens/Airbus_A380_blue_sky.jpg.webp');
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    width: 100%;
    height: 600px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-inicio {
    position: relative;
    width: 45rem;
    height: auto;
    border-radius: 10px;
}

.botao-inicio {
    background-color: var(--azul-principal);
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.botao-inicio:hover {
    background-color: var(--laranja-botao);
}

.display-4 {
    text-shadow: -3px 3px var(--azul-principal);
    color: white;
}

#tropicalia {
    position: relative;
    padding: 5rem 0;
    background: url('img/flor.png') top right no-repeat,
                url('imagens/images.jpeg') bottom left no-repeat;
    background-size: contain;
}

#galeria {
    background-color: var(--cinza-suave);
    padding: 4rem 0;
}

#contato {
    background-image: url('img/4965007.jpg');
    background-size: cover;
    padding: 4rem 0;
    color: white;
    text-align: center;
}

.formulario {
    background-color: var(--branco-fundo);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.formulario button {
    background-color: var(--laranja-botao);
    border: none;
    font-weight: bold;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.formulario button:hover {
    background-color: var(--azul-principal);
}

.form-control {
    background-color: #F1EDEF;
    border-radius: 5px;
}
